In [0]:
df_pyspark1=spark.read.csv("/FileStore/tables/Teachers.csv",header=True,inferSchema=True)
df_pyspark1.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhashu|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [0]:
# Dropping rows based on null values
df_pyspark1.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
|Sudhashu| 30|         8| 25000|
|   Sunny| 29|         4| 20000|
|    Paul| 24|         3| 20000|
|  Harsha| 21|         1| 15000|
| Shubham| 23|         2| 18000|
+--------+---+----------+------+

In [0]:
drop() has the following parameters â€”
how, thresh, and subset

In [0]:
# if all values in rows are null then drop # default any - How
df_pyspark1.na.drop(how="all").show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhashu|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [0]:
#atleast 2 non null values should be present. -Thresh
df_pyspark1.na.drop(how="any",thresh=2).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhashu|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

In [0]:
# only in that column rows get deleted - Subset
df_pyspark1.na.drop(how="any",subset=["salary"]).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
|Sudhashu|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

In [0]:
# Sort based on single column
df_pyspark1.sort("Salary").show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    NULL|  36|      NULL|  NULL|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|Sudhashu|  30|         8| 25000|
|   Krish|  31|        10| 30000|
|    NULL|  34|        10| 38000|
|  Mahesh|NULL|      NULL| 40000|
+--------+----+----------+------+

In [0]:
# sort based on descending order
df_pyspark1.sort(df_pyspark1["salary"].desc()).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|   Krish|  31|        10| 30000|
|Sudhashu|  30|         8| 25000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
| Shubham|  23|         2| 18000|
|  Harsha|  21|         1| 15000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [0]:
# Sort based on first column then second column
df_pyspark1.sort("salary","Name").show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    NULL|  36|      NULL|  NULL|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|    Paul|  24|         3| 20000|
|   Sunny|  29|         4| 20000|
|Sudhashu|  30|         8| 25000|
|   Krish|  31|        10| 30000|
|    NULL|  34|        10| 38000|
|  Mahesh|NULL|      NULL| 40000|
+--------+----+----------+------+

In [0]:
#orderBy
df_pyspark1.orderBy("salary").show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    NULL|  36|      NULL|  NULL|
|  Harsha|  21|         1| 15000|
| Shubham|  23|         2| 18000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 20000|
|Sudhashu|  30|         8| 25000|
|   Krish|  31|        10| 30000|
|    NULL|  34|        10| 38000|
|  Mahesh|NULL|      NULL| 40000|
+--------+----+----------+------+