In [0]:
df = spark.read.csv("/FileStore/tables/Coaching_1.csv",header=True)
df.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| chandu|Data Science| 10000|
| chandu|         IOT|  5000|
| rohith|    Big Data|  4000|
|chandhu|    Big Data|  4000|
| rohith|Data Science|  3000|
|krishna|Data Science|  3000|
|krishna|         IOT| 10000|
|krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
| rashmi|    Big Data|  2000|
+-------+------------+------+

In [0]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: string (nullable = true)

In [0]:
df.select("Name").show()

+-------+
|   Name|
+-------+
| chandu|
| chandu|
| rohith|
|chandhu|
| rohith|
|krishna|
|krishna|
|krishna|
| rashmi|
| rashmi|
+-------+

In [0]:
df.createOrReplaceTempView("people")
sqlDF = spark.sql("SELECT * FROM people")
sqlDF.show()

+-------+------------+------+
|   Name| Departments|Salary|
+-------+------------+------+
| chandu|Data Science| 10000|
| chandu|         IOT|  5000|
| rohith|    Big Data|  4000|
|chandhu|    Big Data|  4000|
| rohith|Data Science|  3000|
|krishna|Data Science|  3000|
|krishna|         IOT| 10000|
|krishna|    Big Data|  5000|
| rashmi|Data Science| 10000|
| rashmi|    Big Data|  2000|
+-------+------------+------+