In [2]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Displaying the DataFrame in the terminal
print(df)

    Name  Age           City
0   John   25       New York
1  Alice   30  San Francisco
2    Bob   22    Los Angeles

In [ ]:
# Execute Reading CSV Data using Pandas

In [3]:
import pandas as pd

# Assuming you have a CSV file named 'example.csv' in the current directory
file_path = 'Coding_sample.csv'

# Reading CSV data into a Pandas DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(df.head())

      Name  Age       City
0   Sachin   22  Bangalore
1  Chaithu   21      Vizag
2   Jeevan   22      Vizag
3    Akash   21      Vizag

In [ ]:
# Read Data from CSV Files to Pandas Dataframes

In [5]:
import pandas as pd

# Specify the file path
file_path = "Coding_sample2.csv"

# Read CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)

# Display the DataFrame
print(df)

   Student Grade Section
0  Chaithu     A       B
1   Jeevan     A       C
2   Sachin     A       A
3    Akash     A       D

In [ ]:
# Filter Data in Pandas Dataframe using query.

In [6]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Ajay', 'Surya', 'Vijay', 'Raghuvaren'],
        'Age': [25, 30, 22, 35],
        'Salary': [50000, 60000, 45000, 70000]}

df = pd.DataFrame(data)

# Using query to filter data
filtered_df = df.query('Age > 25 and Salary > 50000')

print(filtered_df)

         Name  Age  Salary
1       Surya   30   60000
3  Raghuvaren   35   70000

In [ ]:
# Execute with one example Lambda Functions in Python

In [7]:
# Regular function to add two numbers
def add(x, y):
    return x + y

# Equivalent lambda function
lambda_add = lambda x, y: x + y

# Using the regular function
result_regular = add(3, 5)
print("Result using regular function:", result_regular)

# Using the lambda function
result_lambda = lambda_add(3, 5)
print("Result using lambda function:", result_lambda)

Result using regular function: 8
Result using lambda function: 8

In [ ]:
# Read JSON Strings to Python dicts or lists

In [ ]:
# Read JSON Strings to Python Dictionary

In [8]:
import json

# JSON string example
x = '{"name": "Sachin", "age": 22, "city": "Bangalore"}'

# Convert JSON string to Python dictionary
python_dict = json.loads(x)

# Accessing values in the dictionary
print("Name:", python_dict["name"])
print("Age:", python_dict["age"])
print("City:", python_dict["city"])

Name: Sachin
Age: 22
City: Bangalore

In [ ]:
# Read JSON Strings to Python list

In [9]:
import json

# JSON list string example
json_list_string = '[1, 2, 3, 4, 5]'

# Convert JSON list string to Python list
python_list = json.loads(json_list_string)

# Accessing values in the list
for item in python_list:
    print(item)

1
2
3
4
5