In [0]:
# Import required libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL Joins").getOrCreate()

# Sample data for df1
data1 = [("Alice", 34), ("Bob", 45), ("Charlie", 25)]
df1 = spark.createDataFrame(data1, ["Name", "Age"])

# Sample data for df2
data2 = [("Alice", "New York"), ("Bob", "Los Angeles"), ("Dave", "Chicago")]
df2 = spark.createDataFrame(data2, ["Name", "City"])

# Display the contents of the DataFrames
print("Contents of df1:")
df1.show()

print("Contents of df2:")
df2.show()

Contents of df1:
+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 34|
|    Bob| 45|
|Charlie| 25|
+-------+---+

Contents of df2:
+-----+-----------+
| Name|       City|
+-----+-----------+
|Alice|   New York|
|  Bob|Los Angeles|
| Dave|    Chicago|
+-----+-----------+

In [0]:
Perform an joins using PySpark SQL

In [0]:
Inner join

In [0]:
joined_df = df1.join(df2, df1.Name == df2.Name, "inner")
joined_df.show()

+-----+---+-----+-----------+
| Name|Age| Name|       City|
+-----+---+-----+-----------+
|Alice| 34|Alice|   New York|
|  Bob| 45|  Bob|Los Angeles|
+-----+---+-----+-----------+

In [0]:
Left Join

In [0]:
left_joined_df = df1.join(df2, df1.Name == df2.Name, "left")
left_joined_df.show()

+-------+---+-----+-----------+
|   Name|Age| Name|       City|
+-------+---+-----+-----------+
|  Alice| 34|Alice|   New York|
|    Bob| 45|  Bob|Los Angeles|
|Charlie| 25| NULL|       NULL|
+-------+---+-----+-----------+

In [0]:
Right Join

In [0]:
right_joined_df = df1.join(df2, df1.Name == df2.Name, "right")
right_joined_df.show()

+-----+----+-----+-----------+
| Name| Age| Name|       City|
+-----+----+-----+-----------+
|Alice|  34|Alice|   New York|
|  Bob|  45|  Bob|Los Angeles|
| NULL|NULL| Dave|    Chicago|
+-----+----+-----+-----------+

In [0]:
Full Outer Join

In [0]:
outer_joined_df = df1.join(df2, df1.Name == df2.Name, "outer")
outer_joined_df.show()

+-------+----+-----+-----------+
|   Name| Age| Name|       City|
+-------+----+-----+-----------+
|  Alice|  34|Alice|   New York|
|    Bob|  45|  Bob|Los Angeles|
|Charlie|  25| NULL|       NULL|
|   NULL|NULL| Dave|    Chicago|
+-------+----+-----+-----------+

In [0]:
Left Semi Join

In [0]:
left_semi_joined_df = df1.join(df2, df1.Name == df2.Name, "left_semi")
left_semi_joined_df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 34|
|  Bob| 45|
+-----+---+

In [0]:
Left Anti Join

In [0]:
left_anti_joined_df = df1.join(df2, df1.Name == df2.Name, "left_anti")
left_anti_joined_df.show()

+-------+---+
|   Name|Age|
+-------+---+
|Charlie| 25|
+-------+---+

In [0]:
Convert the joined DataFrame to a Pandas DataFrame

In [0]:
pandas_df = joined_df.toPandas()

In [0]:
Apply a function on the Pandas DataFrame

In [0]:
Convert all city names to uppercase

In [0]:
pandas_df['City'] = pandas_df['City'].apply(lambda x: x.upper())

In [0]:
# Display the modified DataFrame
print("Modified DataFrame:")
print(pandas_df)

Modified DataFrame:
    Name  Age   Name         City
0  Alice   34  Alice     NEW YORK
1    Bob   45    Bob  LOS ANGELES